/**
 * @file
 * Tables
 *
 * The `<table>` element displays tabular data in rows, columns, and cells.
 */

table {
  // Add vertical rhythm margins.
  margin: $line-height 0;
  // Remove most spacing between table cells.
  border-collapse: collapse;
  border-spacing: 0;
  text-align: left;
  // Prevent cramped-looking tables
  width: 100%;

  &.table-striped {
    tbody {
      tr:nth-of-type(odd) {
        background: $bg-color;
      }
    }
  }

  &,
  &.table-striped {
    tbody {
      tr {
        &.active {
          background: $bg-color-dark;
        }
      }
    }
  }

  &.table-hover {
    tbody {
      tr {
        &:hover {
          background: $bg-color-dark;
        }
      }
    }
  }

  // Tables with horizontal scrollbar
  &.table-scroll {
    display: block;
    overflow-x: auto;
    padding-bottom: .75rem;
    white-space: nowrap;
  }
}

td,
th {
  border-bottom: $border-width solid $border-color;
  padding: $unit-3 $unit-2;
}

th {
  border-bottom-width: $border-width-lg;
}
