/**
 * @file
 * Spectre Off canvas menus
 *
 * The Off-canvas is a navigation layout that the sidebar can slide in and out
 * of the viewport. It is built in pure CSS.
 *
 * By default, the off-canvas menu is collapsed whenever the window width is.
 * But you can add the off-canvas-sidebar-show class to the off-canvas to make
 * the sidebar expanded when the window width is larger than or equal to 960px.
 *
 * You can open the sidebar by adding the class active to off-canvas-sidebar.
 * And remove the active to close it.
 *
 * @see https://picturepan2.github.io/spectre/experimentals.html#off-canvas
 */


$off-canvas-breakpoint: $size-lg !default;

.off-canvas {
  display: flex;
  flex-flow: nowrap;
  height: 100%;
  position: relative;
  width: 100%;

  .off-canvas-toggle {
    display: block;
    left: $layout-spacing;
    position: absolute;
    top: $layout-spacing;
    transition: none;
    z-index: $zindex-0;
  }

  .off-canvas-sidebar {
    position: fixed;
    z-index: $zindex-3;
    top: 0;
    bottom: 0;
    left: 0;
    min-width: 10rem;
    overflow-y: auto;
    transform: translateX(-100%);
    background: $bg-color;
    transition: transform .25s ease;

    &:target,
    &.active {
      transform: translateX(0);
    }

    &:target ~ .off-canvas-overlay,
    &.active ~ .off-canvas-overlay {
      display: block;
      z-index: $zindex-2;
    }
  }

  .off-canvas-content {
    flex: 1 1 auto;
    height: 100%;
    padding: $layout-spacing $layout-spacing $layout-spacing 4rem;
  }

  .off-canvas-overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba($dark-color, .1);
    border-color: transparent;
    border-radius: 0;
  }
}

// Responsive layout
@media (min-width: $off-canvas-breakpoint) {
  .off-canvas {
    &.off-canvas-sidebar-show {
      .off-canvas-toggle {
        display: none;
      }

      .off-canvas-sidebar {
        position: relative;
        flex: 0 0 auto;
        transform: none;
      }
    }
  }
}
