/**
 * @file
 * Drupal's Messages
 *
 * System alerts.
 *
 * Warning messages should use the `.messages--warning` class. Error messages
 * should use the `.messages--error` class.
 */


.messages,
%messages {
  @include toast-variant($dark-color);
  border: $border-width solid $dark-color;
  border-radius: $border-radius;
  color: $light-color;
  display: block;
  padding: $layout-spacing;
  width: 100%;

  &__icon {
    position: absolute;
    top: 50%;
    left: 10px;
    height: 24px;
    width: 24px;
    margin-top: -12px; // Half of the icon height.
    line-height: 1;
  }

  &__highlight {
    @include toast-variant($primary-color);
  }

  &__list {
    margin: 0;
  }

  &__item {
    list-style-image: none;
  }

  &--ok-color {
    @include toast-variant($success-color);
  }

  &--warning-color {
    @include toast-variant($warning-color);
  }

  &--error-color {
    @include toast-variant($error-color);
  }

  &--status {
    @extend %messages;
  }

  &--warning {
    @extend %messages--warning-color;
  }

  &--error {
    @extend %messages--error-color;
  }

  a {
    color: $light-color;
    text-decoration: underline;

    &:focus,
    &:hover,
    &:active,
    &.active {
      opacity: .75;
    }
  }
}


// Drupal selectors.

.messages {
  &.warning {
    @extend %messages--warning;
  }

  &.error {
    @extend %messages--error;
  }
}

.messages--error .error,
.messages.error .error {
  @extend %messages__highlight;
}

// System status report.
.ok {
  @extend %messages--ok-color;
}

.warning {
  @extend %messages--warning-color;
}

.error {
  @extend %messages--error-color;
}

// Node revisions.
.revision-current {
  @extend %messages--ok-color;
}
